# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Excluding all .tfvars files, which contain sensitive data
*.tfvars
*.tfvars.json

# Except test/example files which can be committed
!terraform.tfvars.example
!*.example.tfvars
!*.example.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore lock files
.terraform.lock.hcl

# Ignore Mac OS specific files
.DS_Store
.AppleDouble
.LSOverride

# Ignore VSCode specific files
.vscode/
*.code-workspace

# Ignore environment variables
.env
.env.*

# Ignore Atlantis workspace
.atlantis/

# Ignore Helm chart dependencies
**/charts/*.tgz

# Ignore Kubernetes generated manifests
kubeconfig
*kubeconfig*

# Ignore AWS credentials
.aws/
aws.json
aws.yaml
credentials
config

# Ignore temporary files
*.tmp
*.bak
*.backup
*.swp
*~
